# Virtual Environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Generated data files
data/*.csv

# Trained ML models
models/*.pkl

# VS Code settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db
